@inherits umbraco.MacroEngines.DynamicNodeContext
	
@{	
	
	
	if (Model.HasValue("location")){
		var venueId = Model.GetPropertyValue("location");
		var venue = Library.NodeById(venueId);
		
		if (venue.HasValue("gps")){
			var gps = venue.GetPropertyValue("gps");
			List<string> latLng = new List<string>(gps.Split(','));
			
			<script>
			var lat = @latLng[0];
			var lng = @latLng[1];
			var title = '@venue.Name';
			</script>
				
			<h2 class="mpad">Hvor i Carlsberg Byen</h2>
			<div id="map-canvas"></div>
	
		}
		
		<div class="datawrapper">	<h5>@venue.Name</h5>
		@venue.GetPropertyValue("address") <br/>
		@venue.GetPropertyValue("zip")<span>&nbsp;</span>@venue.GetPropertyValue("city") 
		</div>
	
	} else if (Model.HasValue("locationGPS")){
		var gps = Model.GetPropertyValue("locationGPS");
		List<string> latLng = new List<string>(gps.Split(','));
		
		<script>
			var lat = @latLng[0];
			var lng = @latLng[1];
			var title = '@Model.Name';
		</script>
	
		
		<h2>Hvor i Carlsberg Byen</h2>
		<div id="map-canvas"></div>
	}
}

