@using System.Globalization
@inherits umbraco.MacroEngines.DynamicNodeContext
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
	
}

@section head{
	<script type="text/javascript" src="/scripts/snap.svg-min.js"></script>
	<script type="text/javascript" src="/scripts/3d-overview.js?v3.1"></script>
	<link rel="stylesheet" href="/css/3d-overview.css?v3.1">
	<link rel="stylesheet" href="/css/omraade_map.css?v3.1">
	@Umbraco.RenderMacro("BuildingsArray", new {folder="/3d/MAP/"})
	<script>var minimenu = true;</script>
  
}


<div id="container" class="normal d3">
	<div class="mnotice">
		Denne del af Carlsberg Byens hjemmeside er udviklet til desktop og tablets.		
	</div>
	
	
	<div id="wrapper_3d">
		<div class="inner">
		<div id="imgwrapper3D" class="mapwrapper">
			<div class="interactive">		
				@Umbraco.RenderMacro("3DImageList", new {folder="/3d/MAP/3D/interactive/", prefix="Map"})						
			</div>
			
			<div class="static">		
				@Umbraco.RenderMacro("3DImageList", new {folder="/3d/MAP/3D/static/", prefix="Map"})						
			</div>	
		</div>
			
		<div id="imgwrapper2D" class="mapwrapper">			
			<img src="/3d/MAP/2D/CarlsbergByen_Map_2D.jpg" alt="2D plan"/>
		</div>

	
		<div id="figures">	
				<svg id="svg" viewBox="0 0 1440 937" preserveAspectRatio="xMidYMid"></svg>
		</div>
		
			
		<div id="loading">Henter billeder, vent venligst... (<span>0</span>/34)</div>	
		
				
			
		</div><!-- end inner -->
			
		<div id="nord" class="s00"></div>
		
		<div id="staticlegend" class="legend">
			<div class="circle big orange"></div> Kommende og igangværende udviklingsprojekter<br/>
			<div class="circle big brown"></div> bevaringsværdige og fredede bygninger
		</div>
			
		<div id="guide">
			Klik for at rotere<br/>
			eller brug pilene<br/>
			på tastaturet	
		</div>
					
			
				
		<div id="legend" class="legend wide">
			<div class="circle orange"></div> igangværende udviklingsprojekter<br/>
			<div class="circle gray"></div> kommende udviklingsprojekter<br/>
			<div class="circle brown"></div> bevaringsværdige og fredede bygninger
		</div>
				
			
				
	<div id="hoverpop"><div class="table"><div class="cell"></div></div><div class="tut"></div></div>			
	
	<a href="#" id="next"></a>
	<a href="#" id="prev"></a>	
		
		
	<div id="help">
		<div class="inner">
			<a href="#" class="closer"></a>
			<h2>oplev det kommende Carlsberg byen</h2>
			<table border="0" cellspacing="10">
				<tr>
					<td class="left first"><img src="/img/pile.png" alt="pile"/></td>
					<td class="left second">Brug pilene til at se Carlsberg Byen fra alle 
verdenshjørner</td>
				</tr>
				<tr>
					<td class="left first"><span>Se 2D kort</span></td>
					<td class="left second">Klik her for at se almindeligt kort ovenfra</td>
				</tr>
				<tr>
					<td class="left first"><span>Se 3D kort</span></td>
					<td class="left second">For at se 3D kortet</td>
				</tr>
				<tr>
					<td class="left first"><span>Se hele visionen</span></td>
					<td class="left second">Giver et samlet overblik på de kommende udviklingsprojekter og de bevaringsværdige- og fredede bygninger</td>
				</tr>
				<tr>
					<td class="center first"><img src="/img/bygning-icon.png" alt="byggeafsnit"/></td>
					<td class="left second middle">Klik på et Byggeafsnit eller en bevaringsværdig ejendom for at læse og se mere</td>
				</tr>
				<tr>
					<td class="center first"><div class="circle orange"></div></td>
					<td class="left second">igangværende udviklingsprojekter. En samlet liste kan ses under punktet “IGANGVÆRENDE 
PROJEKTER” i menuen øverst på siden.</td>
				</tr>
				<tr>
					<td class="center first"><div class="circle gray"></div></td>
					<td class="left second">Kommende udviklingsprojekter</td>
				</tr>
				<tr>
					<td class="center first"><div class="circle brown"></div></td>
					<td class="left second">Bevaringsværdige og fredede bygninger</td>
				</tr>
				
			</table>	
		</div>
	</div>
		
	</div><!-- end wrapper_3d -->
		
	<div id="whitebox">
		<div class="inner"></div>
		<div class="tut"></div>		
	</div>						
						
	<div id="viewtoggles">
		<a href="#" id="mapview">Se 2D kort</a>
		<a href="#" id="interactive" class="active">Se 3D kort</a>
		<a href="#" id="static">Se hele visionen</a>
		
		<a href="#"	id="helplink"><span>?</span> Hjælp</a>
	</div>


    
    <article>
		<div id="content" class="main">
		
	        <div class="clearfix spacing"></div>
		        <div class="main gu6">
		        	<div class="row">
						<div class="col gu4">
							<h1 class="normal">@Model.Content.Name</h1>
								
							<div id="actions">
								<a href="#" class="shareholder yellowbutton"></a>
								@*Umbraco.RenderMacro("GetLocation")*@
								<a href="javascript:window.print();" class="print yellowbutton"></a>
									
								@{Html.RenderPartial("Sharer");}
							</div>
							<div class="clearfix"></div>
							<div class="description">							
								@Model.Content.GetPropertyValue("description")
							</div>	
							<div class="bodytext">							
								@Model.Content.GetPropertyValue("bodyText")
							</div>
						</div>
						
						<div class="col gu2"></div>
		        	</div>
		        </div>
			</div>
		
    </article>
</div><!-- end #container -->