@using System.Globalization
@inherits umbraco.MacroEngines.DynamicNodeContext
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
		
}

@section head{
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyc2x8OiS22tSfQRN-7L7fkliAHeyVEk8&sensor=false"></script>
		
}



<div id="container" class="event normal">
	
	
	
	<div class="clearfix top-padding"></div>

    
    <article>
		<div id="content" class="main">
		
	        <div class="clearfix spacing45 desktop"></div>
		        <div class="main gu6">
		        	<div class="row">
						<div class="col gu4">
							
							@Umbraco.RenderMacro("EventImages")
									
							
							
							<h1 class="normal event">@Model.Content.Name</h1>
							<div id="actions">
								<a href="#" class="shareholder yellowbutton"></a>
								<a href="javascript:window.print();" class="print yellowbutton"></a>
									
								@{Html.RenderPartial("Sharer");}
							</div>
							<div class="clearfix"></div>
								
							<div class="description">							
								@Umbraco.Field("description", convertLineBreaks: true)
							</div>	
								
							<div class="bodytext">							
								@Model.Content.GetPropertyValue("bodyText")
							</div>
							<div class="clearfix spacing145"></div>	
						</div>
						
						<div class="col gu2 right">
							<div class="datawrapper">	
							<h2 class="top">Hvor i Carlsberg Byen</h2>
							</div>	
							 @Umbraco.RenderMacro("EventMap")
							<div class="datawrapper">
							<h2>Genre</h2>
							@Umbraco.RenderMacro("GetGenres")
								
								
							<h2>Dato og tid</h2>
							<span class="weekday">@Model.Content.GetPropertyValue("dateField1")</span><span class="dates">@Model.Content.GetPropertyValue("dateField2")</span>
							<div class="clearfix spacing15"></div>	
							@Umbraco.RenderMacro("ListDates")
							
								
							@if(CurrentPage.HasValue("freeEntry")){
								@CurrentPage.freeEntry
							}	
								
							<div class="buttons">	
								@if(Model.Content.HasValue("outLink")){
									<a class="outlink" href="@Model.Content.GetPropertyValue("outLink")" target="_blank">Besøg event</a>	
								}
								@if(Model.Content.HasValue("ticket")){
									<a class="ticket" href="@Model.Content.GetPropertyValue("ticket")" target="_blank">Køb billetter</a>	
								}
								@if(Model.Content.HasValue("facebookUrl")){
									<a class="facebookUrl" href="@Model.Content.GetPropertyValue("facebookUrl")" target="_blank">Se event på Facebook</a>	
								}


							</div>
								
							<h2>Arrangør</h2>
							@Umbraco.RenderMacro("GetEventManager")	
								
							</div>	
								
								<div class="clearfix spacing145"></div>	

								
								
						</div>
						
							<div class="row col gu6 otherevents">
							@if(Model.Content.HasValue("genrer")){
								
								var genres = Model.Content.GetPropertyValue("genrer");
								@Umbraco.RenderMacro("RelatedEvents", new {nodeId="2277", genres=genres})	
							}
							</div>
						
								
		        	</div>
		        </div>
		</div>
    </article>
</div><!-- end #container -->



								

<script type="text/javascript" src="/scripts/gmaps.js"></script>								
								